    * {
            margin: 0;
            padding: 0;
        }

        body {
            color: #f0f8ff;
            margin: 5px;
        }

        .navbar {
            height: 80px;
            width: 100%;
            background-color: black;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .menu {
            margin: 10px;
            display: flex;
            align-items: center;
            gap: 10px;
            list-style: none;
        }

        .logo {
            margin-left: 10px;
            font-size: 30px;
            font-weight: bold;
            color: rgb(227, 223, 196);
        }

        .menu-2 {
            text-decoration: none;
            color: white;
            font-size: 15px;
            padding: 10px;
            transition-duration: 0.2s;
        }

        .menu-2:hover {
            color: black;
            background-color: rgb(255, 255, 255);
            border-radius: 5px;
            box-shadow: 0 0 4px 2px rgba(103, 99, 143, 0.906);
        }

        #dropdown {
            border: none;
            background-color: black;
            color: white;
        }

        button {
            font-size: 15px;
            background-color: rgb(44, 44, 236);
            padding: 10px 24px;
            border-radius: 4px;
            font-size: 15px;
            font-weight: bold;
            color: #dcdcdc;
            border: none;
            border-radius: 5px;
        }

        button:hover {
            /* background-color: rgb(120, 120, 230); */
            color: #ffffff;
            box-shadow: rgba(255, 255, 255, 0.35) 1px 1px 10px;

        }