     *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .outter{
            margin: auto;
            margin-top: 30px;
            width: 90%;
            height: 500px;
            border: 2px solid black;
        }

        h2{
            text-align: center;
            margin-top: 30px;
        }

        .outter1{
            height: 500px;
            width: 100%;
            margin-top: 25px;
            
        }

        .box1{
            height: 330px;
            width: 230px;
            display: inline-block;
            margin-left: 90px;
            margin-right: 15px;
            padding-top: 15px;
            border-radius: 20px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        
        }

         .box2{
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            height: 330px;
            width: 230px;
            display: inline-block;
             margin: auto;
              margin-right: 15px;
             border-radius: 20px;
              padding-top: 15px;
        }

         .box3{
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            height: 330px;
            width: 230px;
            display: inline-block;
             margin-right: 15px;
             margin: auto;
             border-radius: 20px;
              padding-top: 15px;
        }

        .Product{
            font-size: 20px;
            text-align: center;
        }

        .money{
            margin-top: 5px;
            text-align: center;         
        }