   * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .section {
            height: 50vh;
            width: 100%;
            padding: 5px 5px;
            border: 5px solid black;
            display: grid;
            grid-template-columns: auto auto auto auto;
            gap: 10px;
        }

        .section > div {
            border: 2px solid rgb(103, 100, 100);
            text-align: center;
            padding: 40px 0;
        }

        @media (max-width: 576px) {
            .section{
                display: block;
                height: auto;
            }
        }
        
        @media (min-width: 576px) and (max-width : 768px) {  
            .section{
                grid-template-columns: auto auto;
                height: auto;
            }
        }
        @media (min-width: 768px) and (max-width : 992px) {
            .section{
                grid-template-columns: auto auto;
                height: auto;
            }
        }
        @media (min-width: 992px) and (max-width : 1200px) {
            .section{
                grid-template-columns: auto auto auto;
                height: auto;
            }
        }
        @media (min-width: 1200px) and (max-width : 1400px) {
            .section{
                grid-template-columns: auto auto auto auto;
                height: auto;
            }
        }
         @media (min-width: 1400px) {
            .section{
                grid-template-columns: auto auto auto auto auto;
                height: auto;
            }
        }