
    *{
        margin: 0%;
        padding: 0%;
        }

    .rating{
        color: gold;
     }

    body{
        height: 1170px;
        width: 90%;
        border: 4px solid black;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        }

    .header{
        background-color: #52236a; 
        margin: auto;
        width: 98%;
        height: 200px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; 
       
    }
        /* section 2 */


    .write1{
        padding-top: 40px;
    }

    .header-img{
        float: right;
        margin-top: 20px;
        object-fit: cover;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .one{
        font-size: 20px;
        color: #ffc400; 
        font-family: 'Georgia', serif; 
        letter-spacing: 3px;
        padding-top: 10px;
        text-transform: uppercase;
        text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
        
    }

    .inner{
        margin: 10px;
        margin-top: 0;
        font-weight: bold;
    }
    .input{
        height: 45px;
        margin-top: 20px;
    }

    .section{
        float: right;
        margin-right: 10px;
    }

    .products{
        display: inline;
        padding-left: 10px;
    }

    #section{
        height: 27%;
        width: 100%;
    }

    /* box1 section 3 */
    #sectino-3{
        height: 300px;
        width: 100%;
        position: relative;
    }

    .box{
        position: absolute;
        margin: 5px;
    }


    /* sectino 3 box-1 */


     .box1{
        height: 95%;
        width: 23%;
        border: 2px solid black;
        border-radius: 10px;
        left: 1px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }


    .box1-pro{
        background-color: red;
        color: white;
        margin: 2px;
        width: 30px;
        border-radius: 5px;
        text-align: center;
    }

    
    .box1-pro2{
        background-color: blue;
        color: white;
        margin: 2px;
        width: 30px;
        border-radius: 5px;
        text-align: center;
    }

    .imgone{
        height: 100px;
        width: 100px;
        margin: auto;
    }

    .inside{
        height: 90px;
        width: 95%;
        margin-top: 18%;
        border: 5px solid rgb(255, 255, 255);
        border-radius: 10px;

    }

    button{
        float: right;
        text-align: center;
        background-color: blue;
        color: white;
        border: none;
        height: 30px;
        width: 50px;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px; 
   }
    /* section 3 box2 */

    .box2{
        height: 95%;
        width: 23%;
        border: 2px solid black;
        border-radius: 10px;
        left: 25%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .imgtwo{
        height: 130px;
        width: 130px;
        margin: auto;
        margin-top: 20%;
    }

    .insidetwo{
        height: 90px;
        width: 95%;
        border: 5px solid rgb(255, 255, 255);
        margin: auto;
        margin-top: 5%;
        border-radius: 10px;
        line-height: 18px;
    }

    /* section 3 box3 */

    .box3{
        height: 95%;
        width: 23%;
        border: 2px solid black;
        border-radius: 10px;
        left: 50%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .box3-pro{
        height: auto;
        width: 90%;
        margin: 10px;
        text-align: center;
        background-color: red;
        color: white;
    }

    .img3{
        height: 120px;
        width: 120px;
        margin: auto;
        margin-top: 20px;
    }

    .insidethree{
        height: 90px;
        width: 95%;
        border: 5px solid rgb(255, 255, 255);
        margin-top: 9px;
        border-radius: 10px;
    }

    /* section 3 box4 */


     .box4{
        height: 95%;
        width: 23%;
        border: 2px solid black;
        border-radius: 10px;
        left: 75%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }



    .box4-pro{
        background-color: red;
        color: white;
        margin: 2px;
        width: 30px;
        border-radius: 5px;
        text-align: center;
    }

    
    .box4-pro2{
        background-color: blue;
        color: white;
        margin: 2px;
        width: 30px;
        border-radius: 5px;
        text-align: center;
    }

    .imgfor{
        height: 120px;
        width: 120px;
        margin: auto;
    }

    .inside4{
        height: 90px;
        width: 95%;
        margin-top: 10%;
        border: 5px solid rgb(255, 255, 255);
        border-radius: 10px;

    }

    button{
        float: right;
        text-align: center;
        background-color: blue;
        color: white;
        border: 2px solid black;
        height: 30px;
        width: 50px;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px; 
   }


    /* section 4 box6 */


    .sectino-4{
        height: 300px;
        width: 100%;
        position: relative;
    }


   /* section 4 box1 */



     .box5{
        height: 95%;
        width: 23%;
        border: 2px solid black;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    
    .box5-pro2{
        background-color: blue;
        color: white;
        margin: 2px;
        width: 30px;
        border-radius: 5px;
        text-align: center;
        margin-top: 20px;
    }

    .imgfive{
        height: 120px;
        width: 120px;
        margin: auto;
    }

    .inside5{
        height: 90px;
        width: 95%;
        margin-top: 10%;
        border: 5px solid rgb(255, 255, 255);
        border-radius: 10px;

    }

    button{
        float: right;
        text-align: center;
        background-color: blue;
        color: white;
        border: 2px solid black;
        height: 30px;
        width: 50px;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px; 
   }

    /* section 4 box6 */

    .box6{
        height: 95%;
        width: 23%;
        border: 2px solid black;
        border-radius: 10px;
        left: 25%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .box6-pro{
        background-color: rgb(255, 0, 0);
        color: white;
        margin: 2px;
        width: auto;
        text-align: center;
        margin: 10px;
    }

    .img6{
        height: 120px;
        width: 120px;
        margin: auto;
        margin-top: 20px;
    }

    .insidesix{
        height: 90px;
        width: 95%;
        border: 5px solid rgb(255, 255, 255);
        margin-top: 9px;
        border-radius: 10px;
    }


    /* seciton4 box 7 */

    .box7{
        height: 95%;
        width: 23%;
        border: 2px solid black;
        border-radius: 10px;
        left: 50%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }


    .box7-pro{
        background-color: red;
        color: white;
        margin: 2px;
        width: 30px;
        border-radius: 5px;
        text-align: center;
    }

    
    .box7-pro2{
        background-color: blue;
        color: white;
        margin: 2px;
        width: 30px;
        border-radius: 5px;
        text-align: center;
    }

    .imgsaven{
        height: 100px;
        width: 100px;
        margin: auto;
    }

    .insidesaven{
        height: 90px;
        width: 95%;
        margin-top: 18%;
        border: 5px solid rgb(255, 255, 255);
        border-radius: 10px;

    }

    button{
        float: right;
        text-align: center;
        background-color: blue;
        color: white;
        border: none;
        height: 30px;
        width: 50px;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px; 
   }

   /* section 4 box8 */

     .box8{
        height: 95%;
        width: 23%;
        border: 2px solid black;
        border-radius: 10px;
        left: 75%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    
    .box8-pro2{
        background-color: blue;
        color: white;
        margin: 2px;
        width: 30px;
        border-radius: 5px;
        text-align: center;
        margin-top: 20px;
    }

    .imgeight{
        height: 120px;
        width: 120px;
        margin: auto;
    }

    .inside8{
        height: 90px;
        width: 95%;
        margin-top: 10%;
        border: 5px solid rgb(255, 255, 255);
        border-radius: 10px;

    }

    button{
        float: right;
        text-align: center;
        background-color: blue;
        color: white;
        border: 2px solid black;
        height: 30px;
        width: 50px;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px; 
   }

   /* last section */

      #sectino-5{
        height: 300px;
        width: 100%;
        position: relative;
    }

     .box9{
        height: 95%;
        width: 23%;
        border: 2px solid black;
        border-radius: 10px;
        left: 1px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }


    .box9-pro{
        background-color: red;
        color: white;
        margin: 2px;
        width: 30px;
        border-radius: 5px;
        text-align: center;
    }

    
    .box9-pro2{
        background-color: blue;
        color: white;
        margin: 2px;
        width: 30px;
        border-radius: 5px;
        text-align: center;
    }

    .img9{
        height: 100px;
        width: 100px;
        margin: auto;
    }

    .inside9{
        height: 90px;
        width: 95%;
        margin-top: 18%;
        border: 5px solid rgb(255, 255, 255);
        border-radius: 10px;

    }

    button{
        float: right;
        text-align: center;
        background-color: blue;
        color: white;
        border: none;
        height: 30px;
        width: 50px;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px; 
   }


   /* last box2 */

      .box10{
        height: 95%;
        width: 23%;
        border: 2px solid black;
        border-radius: 10px;
        left: 25%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .img10{
        height: 130px;
        width: 130px;
        margin: auto;
        margin-top: 20%;
    }

    .inside10{
        height: 90px;
        width: 95%;
        border: 5px solid rgb(255, 255, 255);
        margin: auto;
        margin-top: 5%;
        border-radius: 10px;
        line-height: 18px;
    }

  