        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            color: #f0f8ff;
            font-family: "Amazon Ember", "Helvetica Neue", Helvetica, Arial, sans-serif;

        }

        .navbar {
            position: fixed;
            top: 0%;
            height: 60px;
            width: 100%;
            background-color: black;
            border: 2px solid black;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
        .menu {
            margin: 10px;
            display: flex;
            align-items: center;
            gap: 10px;
            list-style: none;
        }
        .menu-3{
            margin: 10px;
            display: flex;
            align-items: center;
            gap: 10px;
            list-style: none;
        }
        .nav-1-div-3{
            padding: 10px;
        }
        .nav-1-div-3:hover{
           color: black;
            background-color: rgb(255, 255, 255);
            border-radius: 50%;
            box-shadow: 0 0 4px 2px rgba(103, 99, 143, 0.906);;
        }

        .logo {
            margin-left: 10px;
            font-size: 25px;
            font-weight: bold;
            color: rgb(227, 223, 196);
        }

        .menu-2 {
            text-decoration: none;
            color: white;
            font-size: 15px;
            padding: 10px;
            transition-duration: 0.2s;
        }

        .menu-2:hover {
            color: black;
            background-color: rgb(255, 255, 255);
            border-radius: 5px;
            box-shadow: 0 0 4px 2px rgba(103, 99, 143, 0.906);
        }

        .search-icon {
            background-image: url('searchicon.png');

        }

        #dropdown {
            border: none;
            background-color: black;
            color: white;
        }

        

        .btn-1 {
            font-size: 15px;
            background-color: rgb(44, 44, 236);
            padding: 10px 24px;
            border-radius: 4px;
            font-size: 15px;
            font-weight: bold;
            color: #dcdcdc;
            border: none;
            border-radius: 5px;
        }

        .btn-1:hover {
            /* background-color: rgb(120, 120, 230); */
            color: #ffffff;
            box-shadow: rgba(255, 255, 255, 0.35) -1px 5px 5px;

        }

        /* section-1 */
        /* section-1 */
        /* section-1 */
        /* section-1 */
        .sec-1-prtn {
            margin-top: 60px;
            height: 700px;
            width: 100%;
            display: flex;
        }

        .sec-1 {
            height: 100%;
            width: 50%;
            background-color: #000000;
            background: linear-gradient(90deg, rgb(0, 0, 0) 99%, rgb(0, 0, 0));
            /* padding: 10px; */
            padding-left: 25px;
        }

        .sec-1-inner {
            height: 50%;
            width: 90%;
            margin-top: 20px;
        }

        h1 {
            font-size: 40px;
            padding-bottom: 20px;
            padding-top: 45px;
        }


        .sec-1-pera {
            font-size: 20px;
            padding-bottom: 20px;
        }

        .btn-2 {
            height: 55px;
            color: black;
            padding: 10px 24px;
            border-radius: 4px;
            font-size: 15px;
            font-weight: bold;
            border: none;
            border-radius: 5px;
            background-color: rgb(255, 255, 255);
            transition-duration: 0.2s;
            padding: 15px;
            margin-top: 20px;
        }

        .sec-2-heading {
            height: 100px;
            width: 250px;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 2px solid rgb(177, 244, 144);
        }

        .btn-2:hover {
            transform: scale(1.1);
            color: #5a5959;
        }

        .div-2 {
            height: 100%;
            width: 50%;
            background: linear-gradient(270deg, rgb(0, 17, 255) 70%, black);
        }

        .prime-day {
            /* height: 50px;
            width: 200px;
            border: 2px solid black; */
            display: flex;
            justify-content: center;
        }
        .sec-2-heading {
            margin-top: 20px;
            color: white;
            background-color: black;
            height: 30px;
            width: 250px;
            font-size: 20px;
            border-radius: 5px;

        }

        .div-box {
            height: 90%;
            width: 100%;
        }

        .box-0 {
            width: 100%;
            height: 164px;
            display: flex;
            justify-content: center;
            gap: 4px;
        }

        .box1 {
            height: 150px;
            width: 200px;
            border-radius: 10px;
            margin: 4px;
        }

        .box2 {
            height: 150px;
            width: 200px;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.48) 6px 2px 16px 0px, rgba(0, 0, 0, 0.8) -6px -2px 16px 0px;
            margin: 4px;
        }

        .sec-1-img-1 {
            background-size: cover;
            border-radius: 10px;
            border: 5px solid rgb(161, 168, 239);
            object-fit: cover;
            overflow: hidden;
        }

        .box3 {
            height: 150px;
            width: 200px;
            border-radius: 10px;
            margin: 4px;
        }

        .sec-box-2 {
            width: 100%;
            height: 164px;
            display: flex;
            justify-content: center;
            gap: 4px;

        }

        .box4 {
            height: 150px;
            width: 200px;
            border-radius: 10px;
            margin: 4px;
        }

        .box5 {
            height: 150px;
            width: 200px;
            border-radius: 10px;
            margin: 4px;
        }

        .box6 {
            height: 150px;
            width: 200px;
            border-radius: 10px;
            margin: 4px;
        }

        /* section-----2////////2------2-//////////2-------2------2------2-------2 */

        .sec-2 {
            height: 600px;
            width: 100%;
            background-color: black;
            display: flex;
            padding-left: 25px;
            background-image: url(./img.sec-2.jpg);
        }

        .sec-2-child-1 {
            height: 100%;
            width: 50%;
            /* background: linear-gradient(130deg, #000000 80%, #00080f 100%, #00080f 90%); */

        }

        .sec-2-inner {
            height: 90%;
            width: 100%;
        }

        .sec-2-child-2 {
            height: 100%;
            width: 50%;
        }

        .sec-2-child-inner-1 {
            font-size: 33px;
            margin-bottom: 10px;
        }

        .sec-2-pera-1 {
            font-weight: bold;
            margin-bottom: 10px;
        }

        .btn-3 {
            height: 50px;
            color: black;
            padding: 10px 24px;
            border-radius: 4px;
            font-size: 15px;
            font-weight: bold;
            border: none;
            border-radius: 5px;
            background-color: rgb(255, 255, 255);
            transition-duration: 0.2s;
            padding: 10px;
            margin-top: 20px;
        }

        .btn-3:hover {
            transform: scale(1.1);
            color: #5a5959;
        }

        .sec-2-img-1 {
            height: 70%;
        }

        /* ////////////section-3//////////section-3////////////section-3/////// */

        .sec-3 {
            height: 700px;
            width: 100%;
            padding-left: 25px;
            padding-right: 25px;
            padding-top: 50px;
            background-color: #00080f;
            background: linear-gradient(8deg, #000015 90%, #000015 90%, #000015 100%);
            display: flex;
        }

        .sec-3-child-1 {
            height: 100%;
            width: 50%;
            display: flex;
            justify-content: center;
        }

        .sec-3-pera-1 {
            padding-top: 10px;
            font-size: 20px;
        }

        .sec-3-child-2 {
            height: 100%;
            width: 50%;
        }

        .sec-3-c-1-inner-1 {
            height: 40%;
            width: 95%;
        }

        .sec-3-head3 {
            font-size: 35px;
            margin-bottom: 25px;
        }

        .sec-3-c-1-box {
            height: 400px;
            width: 100%;
            display: grid;
            grid-template-columns: auto auto auto;
            gap: 10px;
        }

        .sec-3-c-1-box>div {
            color: var(--__dChsbGMXsw4B, #2162a1);
            height: 100%;
            width: 100%;
        }

        .sec-3-b {
            background-color: #2162a1;
            border-radius: 10px;
            transition-duration: 1s;
        }

        .sec-3-imgs {
            border-radius: 10px;

        }

        .sec-3-imgs:hover {
            box-shadow: -1px 1px 10px white;
        }

        /* footer///////////footer */

        .footer {
            height: 150px;
            width: 100%;
            background-color: #2f2f2f;
        }

        .footer-img {
            height: 50px;
            width: 130px;
            margin-left: 45%;
            padding-top: 10px;
        }

        #links-footer {
            height: 20px;
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 15px;
        }

        .ftr-link {
            text-decoration: none;
            color: rgb(50, 174, 183);
        }
        .ftr-pera{
            height: 20px;
            width: 100%;
            color: rgb(102, 149, 152);
            margin-top: 10px;
            display: flex;
            justify-content: center;
        }
    