 * {

            box-sizing: border-box;
        }

        body {
            margin: 0;
            padding: 0;
            text-transform: capitalize;
            color: rgb(16, 16, 80);
        }

        /* container-1 */

        .container-1 {
            height: 400px;
            width: 100%;
            border: 2px solid black;
            background-color: rgb(111, 110, 110);
            margin-bottom: 10px;
        }

        .cont-1-child-1 {
            height: auto;
            width: 100%;
        }

        h1 {
            display: flex;
            justify-content: center;
        }

        .cont-1-child-2 {
            background-color: yellow;
            margin-left: 10px;
            height: 160px;
            width: 98%;
            display: flex;
        }

        .box {
            height: 70px;
            width: 70px;
            background-color: rgb(0, 213, 213);
        }

        /* container-2 */

         .container-2 {
            height: 400px;
            width: 100%;
            border: 2px solid black;
            background-color: rgb(111, 110, 110);
            margin-bottom: 10px;
        }

        .cont-2-child-1 {
            height: auto;
            width: 100%;
        }

        h1 {
            display: flex;
            justify-content: center;
        }

        .cont-2-child-2 {
            background-color: yellow;
            margin-left: 10px;
            height: 280px;
            width: 98%;
            display: flex;
            justify-content: flex-end;
        }

        .box {
            height: 70px;
            width: 70px;
            background-color: rgb(0, 213, 213);
            border: 2px solid black;
        }

        /* container-3 */

         .container-3 {
            height: 400px;
            width: 100%;
            border: 2px solid black;
            background-color: rgb(111, 110, 110);
            margin-bottom: 10px;
        }

        .cont-3-child-1 {
            height: auto;
            width: 100%;
        }

        h1 {
            display: flex;
            justify-content: center;
        }

        .cont-3-child-2 {
            background-color: yellow;
            margin-left: 10px;
            height: 280px;
            width: 98%;
            display: flex;
            justify-content: center;
        }

        .box {
            height: 70px;
            width: 70px;
            background-color: rgb(0, 213, 213);
        }

        /* container-4 */

        .container-4 {
            height: 400px;
            width: 100%;
            border: 2px solid black;
            background-color: rgb(111, 110, 110);
            margin-bottom: 10px;
        }

        .cont-4-child-1 {
            height: auto;
            width: 100%;
        }

        h1 {
            display: flex;
            justify-content: center;
        }

        .cont-4-child-2 {
            background-color: yellow;
            margin-left: 10px;
            height: 280px;
            width: 98%;
            display: flex;
            justify-content: space-between;
        }

        .box {
            height: 70px;
            width: 70px;
            background-color: rgb(0, 213, 213);
        }

        /* container-5 */

        .container-5 {
            height: 400px;
            width: 100%;
            border: 2px solid black;
            background-color: rgb(111, 110, 110);
            margin-bottom: 10px;
        }

        .cont-5-child-1 {
            height: auto;
            width: 100%;
        }

        h1 {
            display: flex;
            justify-content: center;
        }

        .cont-5-child-2 {
            background-color: yellow;
            margin-left: 10px;
            height: 280px;
            width: 98%;
            display: flex;
            justify-content: space-around;
        }

        .box {
            height: 70px;
            width: 70px;
            background-color: rgb(0, 213, 213);
        }

        /* container-6 */

        .container-6 {
            height: 400px;
            width: 100%;
            border: 2px solid black;
            background-color: rgb(111, 110, 110);
            margin-bottom: 10px;
        }

        .cont-6-child-1 {
            height: auto;
            width: 100%;
        }

        h1 {
            display: flex;
            justify-content: center;
        }

        .cont-6-child-2 {
            background-color: yellow;
            margin-left: 10px;
            height: 280px;
            width: 98%;
            display: flex;
            justify-content: space-evenly;
        }

        .box {
            height: 70px;
            width: 70px;
            background-color: rgb(0, 213, 213);
        }

        /* container-7 */

        .container-7 {
            height: 400px;
            width: 100%;
            border: 2px solid black;
            background-color: rgb(111, 110, 110);
            margin-bottom: 10px;
        }

        .cont-7-child-1 {
            height: auto;
            width: 100%;
        }

        h1 {
            display: flex;
            justify-content: center;
        }

        .cont-7-child-2 {
            background-color: yellow;
            margin-left: 10px;
            height: 180px;
            width: 98%;
            display: flex;
            align-items: flex-start;
        }

        .box {
            height: 70px;
            width: 70px;
            background-color: rgb(0, 213, 213);
        }
        /* container-8 */

        .container-8 {
            height: 400px;
            width: 100%;
            border: 2px solid black;
            background-color: rgb(111, 110, 110);
            margin-bottom: 10px;
        }

        .cont-8-child-1 {
            height: auto;
            width: 100%;
        }

        h1 {
            display: flex;
            justify-content: center;
        }

        .cont-8-child-2 {
            background-color: yellow;
            margin-left: 10px;
            height: 180px;
            width: 98%;
            display: flex;
            align-items: flex-end;
        }

        .box {
            height: 70px;
            width: 70px;
            background-color: rgb(0, 213, 213);
        }

        /* container-9 */

        .container-9 {
            height: 400px;
            width: 100%;
            border: 2px solid black;
            background-color: rgb(111, 110, 110);
            margin-bottom: 10px;
        }

        .cont-9-child-1 {
            height: auto;
            width: 100%;
        }

        h1 {
            display: flex;
            justify-content: center;
        }

        .cont-9-child-2 {
            background-color: yellow;
            margin-left: 10px;
            height: 280px;
            width: 98%;
            display: flex;
            align-items: center;
        }

        .box {
            height: 70px;
            width: 70px;
            background-color: rgb(0, 213, 213);
        }

        /* container-10 */

        .container-10 {
            height: 400px;
            width: 100%;
            border: 2px solid black;
            background-color: rgb(111, 110, 110);
            margin-bottom: 10px;
        }

        .cont-10-child-1 {
            height: auto;
            width: 100%;
        }

        h1 {
            display: flex;
            justify-content: center;
        }

        .cont-10-child-2 {
            background-color: yellow;
            margin-left: 10px;
            height: 280px;
            width: 98%;
            display: flex;
            align-items: stretch;
        }

        .box {
            height: 70px;
            width: 70px;
            background-color: rgb(0, 213, 213);
        }
        /* container-11 */

        .container-11 {
            height: 400px;
            width: 100%;
            border: 2px solid black;
            background-color: rgb(111, 110, 110);
            margin-bottom: 10px;
        }

        .cont-11-child-1 {
            height: auto;
            width: 100%;
        }

        h1 {
            display: flex;
            justify-content: center;
        }

        .cont-11-child-2 {
            background-color: yellow;
            margin-left: 10px;
            height: 260px;
            width: 98%;
            display: flex;
            align-content: space-between;
            flex-wrap: wrap;
        }

        .box {
            height: 70px;
            width: 70px;
            background-color: rgb(0, 213, 213);
        }

        /* container-12 */

        .container-12 {
            height: 400px;
            width: 100%;
            border: 2px solid black;
            background-color: rgb(111, 110, 110);
            margin-bottom: 10px;
        }

        .cont-12-child-1 {
            height: auto;
            width: 100%;
        }

        h1 {
            display: flex;
            justify-content: center;
        }

        .cont-12-child-2 {
            background-color: yellow;
            margin-left: 10px;
            height: 280px;
            width: 98%;
            display: flex;
            align-content: space-around;
            flex-wrap: wrap;
        }

        .box {
            height: 70px;
            width: 70px;
            background-color: rgb(0, 213, 213);
        }

        /* container-13 */
        .container-13 {
            height: 400px;
            width: 100%;
            border: 2px solid black;
            background-color: rgb(111, 110, 110);
            margin-bottom: 10px;
        }

        .cont-13-child-1 {
            height: auto;
            width: 100%;
        }

        h1 {
            display: flex;
            justify-content: center;
        }

        .cont-13-child-2 {
            background-color: yellow;
            margin-left: 10px;
            height: 280px;
            width: 98%;
            display: flex;
            align-content: space-evenly;
            flex-wrap: wrap;
        }

        .box {
            height: 70px;
            width: 70px;
            background-color: rgb(0, 213, 213);
        }